.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ece9e9;
    /*margin-left: 200px;*/
    font-family: 'Fredoka', sans-serif;
}

.form {
    max-width: 70%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0px;
}

.form__header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin: 0;
    font-size: 23px;
    font-weight: bold;
    padding: 15px;
}

.form__button {
    border: 1px solid #ccc;
    background-color: teal;
    padding: 10px;
    width: auto;
    color: white;
    margin: 10px 0px 0px 15px;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
}

.form__input {
    border: 1px solid #ccc;
    padding: 10px;
    width: 80%;
    margin: 15px 0px 15px 15px;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
}