.list {
    background-color: white;
    max-width: 70%;
    border: 1px solid #ccc;
    margin-top: 10px;
}
 .list__header {
     font-size: 23px;
     font-weight: bold;
     border-bottom: 1px solid #ccc;
     padding: 15px;
     margin: 0px;
 }
 .task {
     padding: 15px;
     margin: 0px;
 }